<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
    <% for (var x in shortURL) {%>
    <form method="POST" action="/urls/<%= shortURL[x] %>/edit">
      <label for="shortURL">shortURL:<%= shortURL[x] %></label>
      <input name="longURL" type="longURL" placeholder="longURL" style="width: 300px">
      <p><input type="submit" class=" btn" value="Update"> </p>
    </form>
    <%} %>
  </body>
</html>