<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <form action="/login" method="POST">
    <label>email: </label>
      <input type="text" name="email">
    <label>password: </label>
      <input type="password" name="password">
    <button>Sign in</button>
  </form>
</body>
</html>


